USE [adm_wlc]
GO
/****** Object:  Table [dbo].[conv_result]    Script Date: 08/01/2021 08.10.31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[conv_result](
	[b1] [varchar](50) NULL,
	[b2] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[process_status]    Script Date: 08/01/2021 08.10.31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[process_status](
	[cc_link_no] [int] NULL,
	[process_name] [varchar](50) NULL,
	[pid] [varchar](50) NULL,
	[model_code] [varchar](50) NULL,
	[job_code_b1] [varchar](50) NULL,
	[job_code_b2] [varchar](50) NULL,
	[standard_progress] [varchar](50) NULL,
	[current_progress] [varchar](50) NULL,
	[margin_of_delay] [varchar](50) NULL,
	[margin_of_adv] [varchar](50) NULL,
	[cut_off] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[process_table]    Script Date: 08/01/2021 08.10.31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[process_table](
	[cc_link_no] [int] NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
	[sa_name] [varchar](50) NULL,
	[process_name] [varchar](50) NULL,
	[process_type] [varchar](50) NULL,
	[normal_reverse] [varchar](50) NULL,
	[margin_reverse] [varchar](50) NULL,
	[depth] [varchar](50) NULL,
	[margin_of_adv] [varchar](50) NULL,
	[margin_of_delay] [varchar](50) NULL,
	[cut_off] [varchar](50) NULL,
	[memo] [varchar](50) NULL,
	[end] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[prod_inst]    Script Date: 08/01/2021 08.10.31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[prod_inst](
	[cc_link_no] [int] NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
	[del] [varchar](50) NULL,
	[wlc_code] [varchar](50) NULL,
	[katashiki] [varchar](50) NULL,
	[model_code] [varchar](50) NULL,
	[1_b1] [varchar](50) NULL,
	[1_b2] [varchar](50) NULL,
	[2_b1] [varchar](50) NULL,
	[2_b2] [varchar](50) NULL,
	[3_b1] [varchar](50) NULL,
	[3_b2] [varchar](50) NULL,
	[4_b1] [varchar](50) NULL,
	[4_b2] [varchar](50) NULL,
	[5_b1] [varchar](50) NULL,
	[5_b2] [varchar](50) NULL,
	[6_b1] [varchar](50) NULL,
	[6_b2] [varchar](50) NULL,
	[7_b1] [varchar](50) NULL,
	[7_b2] [varchar](50) NULL,
	[8_b1] [varchar](50) NULL,
	[8_b2] [varchar](50) NULL,
	[9_b1] [varchar](50) NULL,
	[9_b2] [varchar](50) NULL,
	[10_b1] [varchar](50) NULL,
	[10_b2] [varchar](50) NULL,
	[11_b1] [varchar](50) NULL,
	[11_b2] [varchar](50) NULL,
	[12_b1] [varchar](50) NULL,
	[12_b2] [varchar](50) NULL,
	[end] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[wlc_data]    Script Date: 08/01/2021 08.10.31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[wlc_data](
	[seq] [int] NULL,
	[pid] [varchar](50) NULL,
	[vin] [varchar](50) NULL,
	[plan_date] [varchar](50) NULL,
	[wlc_code] [varchar](50) NULL,
	[model_code] [varchar](50) NULL,
	[suffix] [varchar](50) NULL,
	[chassis_number] [varchar](50) NULL,
	[classification] [varchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[conv_result] ([b1], [b2]) VALUES (N'0', N'0')
GO
INSERT [dbo].[process_status] ([cc_link_no], [process_name], [pid], [model_code], [job_code_b1], [job_code_b2], [standard_progress], [current_progress], [margin_of_delay], [margin_of_adv], [cut_off]) VALUES (1, N'U/F Panel1', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[process_status] ([cc_link_no], [process_name], [pid], [model_code], [job_code_b1], [job_code_b2], [standard_progress], [current_progress], [margin_of_delay], [margin_of_adv], [cut_off]) VALUES (2, N'U/F Panel2', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[process_status] ([cc_link_no], [process_name], [pid], [model_code], [job_code_b1], [job_code_b2], [standard_progress], [current_progress], [margin_of_delay], [margin_of_adv], [cut_off]) VALUES (3, N'U/F Panel3', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[process_table] ON 

INSERT [dbo].[process_table] ([cc_link_no], [id], [sa_name], [process_name], [process_type], [normal_reverse], [margin_reverse], [depth], [margin_of_adv], [margin_of_delay], [cut_off], [memo], [end]) VALUES (1, 1, N'1', N'5', N' ', N' ', N' ', N' ', N' ', N' ', N'9', N'test', N' ')
INSERT [dbo].[process_table] ([cc_link_no], [id], [sa_name], [process_name], [process_type], [normal_reverse], [margin_reverse], [depth], [margin_of_adv], [margin_of_delay], [cut_off], [memo], [end]) VALUES (1, 2, N'2', N' ', N' ', N' ', N' ', N' ', N' ', N' ', N' ', N'test', N' ')
INSERT [dbo].[process_table] ([cc_link_no], [id], [sa_name], [process_name], [process_type], [normal_reverse], [margin_reverse], [depth], [margin_of_adv], [margin_of_delay], [cut_off], [memo], [end]) VALUES (1, 3, N' ', N' ', N' ', N' ', N' ', N' ', N' ', N' ', N' ', N' ', N' ')
GO
SET IDENTITY_INSERT [dbo].[process_table] OFF
GO
SET IDENTITY_INSERT [dbo].[prod_inst] ON 

INSERT [dbo].[prod_inst] ([cc_link_no], [id], [del], [wlc_code], [katashiki], [model_code], [1_b1], [1_b2], [2_b1], [2_b2], [3_b1], [3_b2], [4_b1], [4_b2], [5_b1], [5_b2], [6_b1], [6_b2], [7_b1], [7_b2], [8_b1], [8_b2], [9_b1], [9_b2], [10_b1], [10_b2], [11_b1], [11_b2], [12_b1], [12_b2], [end]) VALUES (1, 1, N'', N'', N'', N'D101', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'')
INSERT [dbo].[prod_inst] ([cc_link_no], [id], [del], [wlc_code], [katashiki], [model_code], [1_b1], [1_b2], [2_b1], [2_b2], [3_b1], [3_b2], [4_b1], [4_b2], [5_b1], [5_b2], [6_b1], [6_b2], [7_b1], [7_b2], [8_b1], [8_b2], [9_b1], [9_b2], [10_b1], [10_b2], [11_b1], [11_b2], [12_b1], [12_b2], [end]) VALUES (1, 2, N'', N'', N'', N'D102', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'2', N'')
INSERT [dbo].[prod_inst] ([cc_link_no], [id], [del], [wlc_code], [katashiki], [model_code], [1_b1], [1_b2], [2_b1], [2_b2], [3_b1], [3_b2], [4_b1], [4_b2], [5_b1], [5_b2], [6_b1], [6_b2], [7_b1], [7_b2], [8_b1], [8_b2], [9_b1], [9_b2], [10_b1], [10_b2], [11_b1], [11_b2], [12_b1], [12_b2], [end]) VALUES (1, 3, N'', N'', N'', N'D113', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'2', N'')
GO
SET IDENTITY_INSERT [dbo].[prod_inst] OFF
GO
